<br>
<div class="jumbotron">
  <h1>Transportal</h1>
  <p> Transportal is a translator's resource for project collaboration.</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Create translator profile</h2>
    <p>Transportal allows translators to create profiles for collaboration.</p>
  </div>

  <div class="col-md-4">
    <h2>Create terminology forum</h2>
    <p>Transportal allows translators to post and comment on terminology topics.</p>
  </div>

  <div class="col-md-4">
    <h2>Create translation wikis</h2>
    <p>Transportal allows users to create translation wikis.</p>
  </div>
</div>
