<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<br />

 <% if policy(Project.new).create? %>
<%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
<% end %>

<br />
<br />



<table class = "table table-bordered table-striped">
  <thread>
    <tr>
      <th>Project Name</th>
      
    </tr>
  </thread>
 
  <tbody>
    <% @projects.each do |project| %>

    <tr>
      <td><%= link_to project.name, project_path(project) %></td>
      
      

    </tr>
    
  <% end %>
</tbody>
</table>
